{% extends "nav_bar.html" %}

{% block content %}
<body>
    <section class="bloc-entier">
        <div class="boite-bonjour">
            <p>Bienvenue {{ user.Nom }} {{ user.Prenom }}.</p>
            <p>Que souhaitez-vous faire aujourd'hui ?</p>
        </div>
        <div class="boite-choix-menu">
            <a href="{{ url_for('chercheur_campagne') }}" class="bouton-gerer-personnel">Planifier une campagne</a>
            <a href="" class="bouton-gerer-personnel">Analyser des échantillons</a>
            <a href="" class="bouton-gerer-personnel">Téléverser les séquences</a>
        </div>
    </section>
</body>
{% endblock %}