{% extends "nav_bar.html" %}

{% block content %}
<body>
    <section class="bloc-entier">
        <div class="boite-bonjour">
            <p>Directeur NOM PRENOM.</p>
        </div>
        <div class="boite-glob-infos-budget">
            <form action="">
                <div class="boite-infos-budget">
                    <p class="info-budget-text">Budget</p>
                    <input class="info-budget-field" type="number" placeholder="Veuillez entrer le budget." size="18" min="1"/>
                </div>
                <div class="boite-infos-budget">
                    <p class="info-budget-text">Mois</p>
                    <input class="info-budget-field" type="month" placeholder="AAAA-MM" size="18"/>
                </div>
                <input class="submit-budget" type="submit" value="Enregistrer">
            </form>
        </div>
    </section>
</body>
{% endblock %}