{% extends "nav_bar.html" %} {% block content %}
<div class="bloc-entier-admin">
  <div class="boite-bonjour-admin">
    <h1>Gestion du matériel</h1>
  </div>
  <div class="boite-choix-menu">
    <div class="boite-creer-personnel">
      <h2>Créer un personnel</h2>
      <form>
        <label for="nom_personnel">Nom du personnel:</label>
        <input type="text" id="nom_personnel" name="nom_personnel" required />
        <button type="submit">Créer</button>
      </form>
    </div>
    <table class="tableau"> 
    <table class="tableau" >
      <thead>
        <tr>
          <th>ID Personnel</th>
          <th>Nom Personnel</th>
          <th>Action Possible</th>  
        </tr>
      </thead>
      <tbody>
        {% for p in personnels %}
        <tr>
          <td>{{ p.Id_pers }}</td>
          <td>{{ p.nom_pers }}</td>
          <td>
            <button class="btn-voir">Voir</button>
            <button class="btn-supprimer">Supprimer</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="btn-retour" onclick="window.location.href='/admin/'">Retour</button>
  </div>
</div>
{% endblock %}
