{% extends "nav_bar.html" %} {% block content %}
<div class="bloc-entier-admin">
<div class="boite-bonjour-admin">
    <h1>Gestion des changements</h1>
</div>
<div class="boite-choix-menu">
    <a href="{{ url_for('technicien_gerer_materiel') }}" class="bouton-gerer-materiel">Gérer le matériels</a>
    <a href="{{ url_for('technicien_gerer_personnel') }}" class="bouton-gerer-personnel">Gérer le personnel</a>
</div>
<div class="box-retour">
    <a class="bouton-retour-z" href="{{ url_for('technicien_accueil') }}">Retour</a>
</div>
</div>
{% endblock %}
    