{% extends "nav_bar.html" %} {% block content %}
<div class="bloc-entier-admin">
<div class="boite-bonjour-admin">
    <h1>Gestion des changements</h1>
</div>
<div class="boite-choix-menu">
    <a href="{{ url_for('gerer_materiel') }}" class="bouton-gerer-materiel">Gérer le matériels</a>
    <input type="button" class="bouton-gerer-personnel" value="Gérer le personnel">
</div>
<div class="box-retour">
    <button class="bouton-retour" onclick="history.back();">Retour</button>
</div>
</div>
{% endblock %}
    